@page "/ListarCategoria"

<h3>Listagem de Categorias</h3>


<table>
    <tr>
        <th>Código</th>
        <th>Descrição</th>
    </tr>
    <tr>
        <td class="table-dark">1</td>
        <td class="table-dark">Terror</td>
    </tr>
    <tr>
        <td class="table-secondary"> 2</td>
        <td class="table-secondary">Suspense</td>
    </tr>
    <tr>
        <td  class="table-warning">3</td>
        <td  class="table-warning">Comédia</td>
    </tr>
    <tr>
        <td class="table-danger">4</td>
        <td class="table-danger">Ação</td>
    </tr>
    <tr>
        <td class="table-primary">5</td>
        <td class="table-primary"> Drama</td>
    </tr>
</table>




@code {

}